$button-color: red;
$text-color: white;
$deactivated-color: black;
$button-deactivated-color: color-mix(
  in srgb,
  $deactivated-color 60%,
  $button-color
);
$text-deactivated-color: color-mix(
  in srgb,
  $deactivated-color 60%,
  $text-color
);

$sidebar-width: 600px;

html,
body {
  height: 100vh;
}

body {
  display: flex;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr 5px;

  background-color: grey;
  width: 600px;
  resize: horizontal;
  overflow: auto;
  border: 1px solid black;

  .sidebar-handle {
    background-color: pink;
    cursor: col-resize;
  }
}

button {
  background-color: $button-color;
  color: $text-color;
  border: none;

  cursor: pointer;
}

.disabled {
  background-color: $button-deactivated-color;
  color: $text-deactivated-color;
  border: none;

  cursor: not-allowed;
}
